<!DOCTYPE html>
<html ng-app="Sesh">
<head>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
  <title>Sesh</title>
</head>
<body>

  <nav class="navbar navbar-default">
  <div>
    <input type="text" ng-model="login.email">
    <input type="password" ng-model="login.password">
    <button class="btn btn-primary">Log in</button>
    <a ui-sref="signUp">Create Account</a>
  </div>


  </nav>
  <div ui-view></div>


</body>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script type="text/javascript" src="/public/app.js"></script>
<script type="text/javascript" src="/public/app/signup/signup-controller.js"></script>

</html>