<div class="container col-md-10 col-md-offset-1">

  <button class="btn btn-success" ui-sref="editProfile"><span class="glyphicon glyphicon-user"></span></button>


  <div class="row">

    <textarea ng-model="newSesh" class="form-control" placeholder="what's the sesh?">

    </textarea>
    <button class="btn btn-primary" ng-click="sendSesh()">Create Sesh</button>
  </div>

</div>

<div class="container sesh-table">

<button class="btn btn-primary" ng-click="removeSeshes()">Remove all</button>

  <div class="row">
    <table class="sesh-table">
      <tr class="sesh-row" ng-repeat="sesh in seshes">
        <td>
          <p>{{sesh.user}}</p>
          <image class="img-responsive" ng-src="{{sesh.userImage}}" />
        </td>

        <td>
          <p>{{sesh.description}}</p>
        </td>

        <td>
          <span>{{sesh.date | date: mm/dd/yyyy}}</span>
        </td>
      </tr>
    </table>

  </div>



</div>