body{
  margin-top:70px;
}

/*General Forms and Input*/
#signupForm, #loginForm, #editProfileForm{
  margin: 0 auto;
  text-align:center;
  max-width:700px;
}
.signupEl, .loginEl{
  text-align:center;
  margin:10px;
}
#passwordInput, #emailInput{
  text-align:center;
}
/*==============*/


/*Edit Profile*/
.profileInput, .profileInput input, .profileInput textarea{
  text-align:center;
}

#upload-photo-button{
  margin-top:30px;
}

#username-update{
  margin-top:30px;
}
#username-submit{
  margin-top:30px;
}

#bio-text{
  margin-top:50px;
  height:250px;
}
#editBio{
  height:100%;
  text-align:center;

}
#bio-submit{
  margin-top:30px;
}
/*==============*/




/*Main Sesh*/
.sesh-table{
  width:700px;
}
.sesh-row{
  text-align:center;
  margin-top:10px;
  border-top:1px solid slategrey;
}















