<div ng-show="!loggedIn" id="loginForm" class="row">
  <div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
    <div class="row loginEl">
      <input id="emailInput" type="text" ng-model="login.email" placeholder="email" class="form-control">
    </div>

    <div class="row loginEl">
      <input id="passwordInput" type="password" ng-model="login.password" placeholder="password" class="form-control">
    </div>
    <button class="btn btn-primary" ng-click="loginUser()">Login</button>

  </div>
</div>
<div style="text-align:center" ng-show="loggedIn">

  Already logged in!
  <a ui-sref="editProfile">Go To Profile</a>

</div>