<div class="container" id="editProfileForm">
  <div class="row">
    <button class="button btn btn-success" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    accept="image/*" >Upload a Photo</button>
  </div>


  <div class="row profileInput">
    <!-- ng-blur will fire function when focus is removed -->
    <input id="editUsername" class="form-control" type="text" ng-model="user.username" placeholder="username">
    <button ng-click="updateUsername()" class="btn btn-default btn-danger">Update Username</button>
  </div>



  <div class="row profileInput">
    <h1></h1>
    <textarea id="editBio" type="text" class="form-control bio-text-area" ng-model="user.bio" ng-blur="updateBio()" placeholder="Bio"> </textarea>
    <button ng-click="updateBio()" class="btn btn-default btn-success">Update Bio</button>
  </div>

</div>