<div id="signupForm" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Create A Profile</h2>
    <div class="row signupEl">
      <input id="emailInput" type="text" ng-model="newUser.email" placeholder="email" class="form-control">
    </div>

    <div class="row signupEl">
      <input id="passwordInput" type="password" ng-model="newUser.password" placeholder="password" class="form-control">
    </div>
    <button class="btn btn-primary" ng-click="createUser()">Submit</button>
  </div>
</div>
